@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;

.apple {
  color: white;

  &__container {
    margin: 2rem 5rem;
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  &__back-arrow {
    height: 2rem;
    margin: 2rem;
  }

  &__container {
  }

  &__title {
  }

  &__demo {
    height: 40rem;
    margin: 2rem 0rem;
  }

  &__demo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__link {
    color: white;
    text-decoration: none;
  }

  &__link:hover {
    text-decoration: underline white 1px solid;
  }

  &__description-title {
    font-weight: 600;
    margin: 2rem 5rem;
  }

  &__description {
    margin-bottom: 2rem;
    margin: 2rem 5rem;
  }

  &__install {
    font-weight: 600;
    margin: 2rem 5rem;
  }

  &__install-description {
    margin: 2rem 5rem;
  }

  &__github-link {
    margin: 2rem 5rem;
  }
}
